<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlas.dao.FlowerDAO">
    <select id="recommend" resultMap="Flowerr">
        select sum(liked) liked,name from picture where cid is null group by name order by liked desc
    </select>

    <resultMap id="Flowerr" type="com.atlas.entity.Flower">
        <id column="fid" property="fid"></id>
        <result column="name" property="name"></result>
        <result column="liked" property="liked"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

    <select id="recommend2" resultMap="Flowerr2">
        select * from picture where cid is null order by rand()
    </select>

    <resultMap id="Flowerr2" type="com.atlas.entity.Flower">
        <id column="store"></id>
        <result column="fid" property="fid"></result>
        <result column="name" property="name"></result>
        <collection property="picture" ofType="com.atlas.entity.Picture">
            <result property="pid" column="pid"></result>
            <result property="store" column="store"></result>
            <result property="liked" column="liked"></result>
        </collection>
    </resultMap>

    <select id="findpicture3" resultType="Picture">
        select * from picture where name=#{name}
    </select>

    <select id="flowerdetail" parameterType="Picture" resultMap="Flowermap">
        select f.* from flower f,picture p where p.pid=#{pid} and p.fid=f.fid
    </select>

    <resultMap id="Flowermap" type="com.atlas.entity.Flower">
        <result property="florescence" column="florescence"></result>
        <result property="name" column="name"></result>
        <result property="fid" column="fid"></result>
        <result property="color" column="color"></result>
        <result property="department" column="department"></result>
        <result property="allegory" column="allegory"></result>
        <collection property="pictureList" ofType="com.atlas.entity.Picture" select="flowerdetail2" column="name">
        </collection>
        <collection property="commentList" ofType="com.atlas.entity.Comment" select="findcomment" column="fid">
            <result property="profile_photo" column="profile_photo"></result>
            <result property="name" column="name"></result>
        </collection>
    </resultMap>

    <select id="findcomment" resultType="Comment">
        select u.*,c.* from comment c,user u where c.fid=#{fid} and u.uid=c.uid order by date desc
    </select>

    <select id="flowerdetail2"  resultType="Picture">
        select * from picture where name=#{name}
    </select>

    <select id="search" parameterType="Picture" resultType="Flower">
        select * from flower where name like concat('%',#{information},'%')
                             or florescence like concat('%',#{information},'%')
                             or department like concat('%',#{information},'%')
                             or allegory like concat('%',#{information},'%')
                             or color like concat('%',#{information},'%')
    </select>

    <resultMap id="florescence" type="com.atlas.entity.Flower">
        <id property="fid" column="fid"></id>
        <result property="florescence" column="florescence"></result>
        <result property="fid" column="fid"></result>
        <result property="name" column="name"></result>
        <result property="color" column="color"></result>
        <result property="department" column="department"></result>
        <result property="allegory" column="allegory"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

    <resultMap id="variety" type="com.atlas.entity.Flower">
        <id property="fid" column="fid"></id>
        <result property="name" column="name"></result>
        <result property="fid" column="fid"></result>
        <result property="florescence" column="florescence"></result>
        <result property="color" column="color"></result>
        <result property="department" column="department"></result>
        <result property="allegory" column="allegory"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

    <resultMap id="color" type="com.atlas.entity.Flower">
        <id property="fid" column="fid"></id>
        <result property="name" column="name"></result>
        <result property="fid" column="fid"></result>
        <result property="color" column="color"></result>
        <result property="florescence" column="florescence"></result>
        <result property="department" column="department"></result>
        <result property="allegory" column="allegory"></result>
        <collection property="picture" select="findpicture" column="fid"></collection>
    </resultMap>

    <select id="findpicture" resultType="Picture">
        select * from picture where fid=#{fid} order by rand() limit 1
    </select>


    <select id="classifyflorescence" parameterType="Flower" resultMap="florescence">
        select f.*  from flower f where florescence=#{florescence} group by name
    </select>

    <select id="classifyvariety" parameterType="Flower" resultMap="variety">
        select f.*  from flower f where department=#{department} group by name
    </select>

    <select id="classifycolor" parameterType="Flower" resultMap="color">
        select f.*  from flower f where color=#{color}
    </select>

    <select id="findflorescence" resultMap="findf2">
        select distinct florescence,name from flower group by florescence
    </select>

    <select id="findvariety" resultMap="findv2">
        select distinct department,name from flower group by department
    </select>

    <select id="findcolor" resultMap="findc2">
        select distinct color,name from flower group by color
    </select>

    <resultMap id="findf2" type="com.atlas.entity.Flower">
        <result property="florescence" column="florescence"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

    <resultMap id="findc2" type="com.atlas.entity.Flower">
        <result property="color" column="color"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

    <select id="findpicture2" resultType="Picture">
        select * from picture where name=#{name} order by rand() limit 1
    </select>

    <resultMap id="findv2" type="com.atlas.entity.Flower">
        <result property="department" column="department"></result>
        <collection property="picture" select="findpicture2" column="name"></collection>
    </resultMap>

</mapper>